<div
  class="h-screen flex items-center justify-center font-sans bg-gray-200"
  id="wrapper"
>
  <div
    class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:maw-w-lg"
    id="card"
  >
    <div class="mb-8" id="header">
      <h1 class="text-xl font-semibold">Todo List</h1>
      <div class="flex mt-4" id="todo-input">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
          placeholder="Add Todo"
        />
        <button
          class="flex-no-shrink p-2 border rounded text-green-500 border-green-500 hover:text-white hover:bg-green-500"
        >
          Add
        </button>
      </div>
    </div>
    <div id="todos">
      <!--
      <p class="w-full text-center text-grey-dark" id="if-no-todos">
        There are no todos
      </p>
-->
      <div
        class="flex mb-4 items-center rounded border border-gray-300 py-2 px-3"
        id="todo"
      >
        <!-- "todo.finished ? 'line-through text-green' : 'text-grey-darkest'" -->
        <p class="w-full">Todo text</p>
        <!-- "todo.finished ? 'text-grey border-grey hover:bg-grey' : 'text-green border-green hover:bg-green'" -->
        <!-- Set button text to done/not done -->
        <button
          class="flex-no-shrink p-2 ml-4 mr-2 rounded text-blue-500 hover:text-white hover:bg-blue-500"
        >
          Done
        </button>
        <button
          class="flex-no-shrink p-2 ml-2 rounded text-red-500 hover:text-white hover:bg-red-500"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
