<div
  class="h-screen flex items-center justify-center font-sans bg-gray-200"
  id="wrapper"
>
  <div
    class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:maw-w-lg"
    id="card"
  >
    <app-header (notifySubmit)="onSubmit($event)"></app-header>
    <div id="todos">
      <app-empty *ngIf="(todos$ | async)?.length == 0"></app-empty>
      <app-todo
        *ngFor="let todo of todos$ | async"
        [todo]="todo"
        (notifyDelete)="onRemove($event)"
        (notifyDone)="onDone($event)"
      ></app-todo>
    </div>
  </div>
</div>
